[submodule "Gaea/vendor/spdlog"]
	path = Gaea/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "Gaea/vendor/GLFW"]
	path = Gaea/vendor/GLFW
	url = https://github.com/widellt/glfw
	branch = master
[submodule "Gaea/vendor/imgui"]
	path = Gaea/vendor/imgui
	url = https://github.com/widellt/imgui
	branch = docking
[submodule "Gaea/vendor/glm"]
	path = Gaea/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master
